<div class="container" *ngIf="student">
    <div class="offset-md-3 col-6">
        <h4 class="h4">{{ student.faculty}}</h4>
        <form   class="offset-md-3 col-md-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Maths</label>
            <div class="row">
                <div class="col-8">
                    <input type="text" formControlName="maths.credits" class="form-control  col-8" id="mgpa" aria-describedby="emailHelp">
                </div>
                  <div class="col-3">
                    <input type="text" formControlName="maths.gpa" class="form-control col-3" id="mcredits" aria-describedby="emailHelp">
                  </div>
            </div>
    
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CSE</label>
              <div class="row">
                  <div class="col-8">
                      <input type="text" formControlName="maths.credits" class="form-control  col-8" id="mgpa" aria-describedby="emailHelp">
                  </div>
                    <div class="col-3">
                      <input type="text" formControlName="maths.gpa" class="form-control col-3" id="mcredits" aria-describedby="emailHelp">
                    </div>
              </div>
      
              </div>

            
            <button type="submit" class="btn btn-primary" (click)="submit()">Add Student</button>
          </form>
    
    </div>
</div>
