<div class="container" >

  

    <form  [formGroup]="studentForm" class="offset-md-3 col-md-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input type="text" formControlName="Fname" class="form-control" id="name" aria-describedby="emailHelp">

        </div>
        

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Second Name</label>
            <input type="text" formControlName="Sname" class="form-control" id="name" aria-describedby="emailHelp">
  
          </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Faculty</label>
            <select class="form-control" name="cars" id="cars"  formControlName="faculty">
                <option [defaultSelected]="true" value="CSE">CSE</option>
                <option value="maths">Maths</option>
              </select>
        </div>

        <!-- <div class="mb-3 form-check">
          <input type="checkbox"  class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary" (click)="submit()">Add Student</button>
      </form>

     <ng-template *ngIf="">

     </ng-template>


</div>